
.container {
    position: relative; z-index: 5;
    max-width: 92rem;
    margin: 0 auto;
    padding: 0 4rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center; justify-content: center;
}

.col-1 { margin-right: 1.5rem; }
.col-2 { margin-left: 1.5rem; }
