*,*::before,*::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }

body, button, input, textarea { font-family: 'Poppins', sans-serif; } 
a { text-decoration: none; }
.text {
    font-size: 1.25rem;
    line-height: 1.6;
    color: var(--dark-two);
}

.image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.z-index { position: relative; z-index: 2; }
//.stop-scrolling { height: 100%; overflow: hidden; }

