.btn {
    display: inline-block;
    padding: 0.85rem 2rem;
    border-radius: 2rem;
    background-color: var(--main-color);
    font-size: 1.05rem;
    text-transform: uppercase; font-weight: 500;
    color: var(--light-one);
    transition: 0.3s;

    &:hover { filter: brightness(90%); }
    &.small { padding: 0.7rem 1.8rem; font-size: 1rem; }
}